[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NBvarsel"]
	path = NBvarsel
	url = https://github.com/lasaibarrenada/nb_varsel
